fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic-settings==2.7.1
sqlalchemy==2.0.36
pymysql==1.1.1
redis==5.2.1
celery==5.4.0
scikit-learn
xgboost
sentence-transformers
faiss-cpu
spacy
keybert
torch
transformers
joblib
numpy
pandas
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1